name: Publish Python :snake: distribution :package: to PyPI

on:
  release:
    types: [published]

jobs:
  deploy:

    runs-on: ubuntu-latest
    environment: pypi # name of environment for secrets

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine
    - name: Build package
      run: python -m build
    - name: Publish package
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }} # name of secret variable
      run: python -m twine upload --verbose --repository pypi dist/*